@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Alliance1';
  src: url("./assets/fonts/Alliance1.otf");
}

@font-face {
  font-family: 'Alliance2';
  src: url("./assets/fonts/Alliance2.otf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-gotham text-white
}

h1 {
  @apply font-primary text-3xl md:text-4xl lg:text-6xl
}

h2 {
  @apply font-primary sm:text-xl md:text-2xl lg:text-4xl
}

h3 {
  @apply font-primary text-xl lg:text-2xl
}

p {
  @apply font-secondary text-dirt
}

.navbar {
  @apply mt-5 ml-5
}

.navbar-item {
  @apply mr-auto md:mr-5 hover:cursor-pointer
}

.center {
  @apply flex h-screen items-center justify-center
}

.white-box {
  @apply px-1 border border-white w-fit
}

.typing {
  @apply w-fit pr-2 overflow-hidden whitespace-nowrap font-bold transform-gpu animate-typing border-r-4 md:border-r-8 lg:border-r-16 border-r-white
}

.typing-no-blink {
  @apply w-fit overflow-hidden whitespace-nowrap font-bold transform-gpu animate-typing-no-blink
}

.spacing-y {
  @apply mt-20 lg:mt-40 mb-5
}

.divider {
  @apply spacing-y transform-gpu animate-divider-reveal w-full h-px bg-white overflow-hidden whitespace-nowrap
}

.section-header {
  @apply typing-no-blink mb-10
}

.skill-header {
  @apply mb-2 text-white transform-gpu animate-come-left
}

.skill-desc {
  @apply transform-gpu animate-come-right
}

.project-title {
  @apply mt-5 mb-2 text-white animate-come-left
}

.project-desc {
  @apply transform-gpu animate-come-right
}

.project-image {
  @apply bg-dirt
}

.achievement-title {
  @apply mt-5 mb-2 text-white transform-gpu animate-come-left
}

.achievement-desc {
  @apply w-full xl:w-2/3 transform-gpu animate-come-right
}

.contact-title {
  @apply mt-5 mb-2 text-white transform-gpu animate-come-left
}

.contact-desc {
  @apply transform-gpu animate-come-up
}

.contact-icon {
  @apply w-5 ml-1.5 mt-3.5 opacity-80 cursor-pointer
}

.contact-link {
  @apply pt-2.5 transform-gpu animate-come-down
}

.footer {
  @apply pt-40 pb-20
}

.workproject-title {
  @apply mb-2 text-white transform-gpu animate-come-left
}